{
  "singleQuote": true,
  "arrowParens": "always",
  "printWidth": 100,
  "tabWidth": 2,
  "semi": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "useTabs": false
}
